{% extends 'base_nav.html' %}

<!-- 'staticfiles' is not a registered tag library. Must be one of: admin_list admin_modify admin_urls cache i18n import_export_tags l10n log static tz -->
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/draw_diagram.css' %}">
<script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<a id="preview_btn" href="#popup_card" data-reveal-id="popupModal" style="visibility: hidden;">POP UP</a>
<div id="popup_card">
<div id="popupModal" class="reveal-modal">
     <h2>Feedback Preview</h2>
     <p>
     <font id="preview_content" size="4">window window window.window window window. window.
         </font>
    </p>
    <a href="#" class="close-reveal-modal">×</a>
</div>
</div>


<div class="system-container p-4 mx-auto">
	<h3>Peer mentoring</h3>
	{% block top_content %}
	{% endblock %}

	<div class="d-flex CR-layout">

		<div class="system-col essay-col">
			<div class="self-CR h-100 disable-select d-flex flex-column">
				<div>
					<h5>Essay feedback</h5>
					<!-- <div class="button-list mb-2"></div> -->
				</div>
				<div class="panel-container panel-container-col" style="flex: 1 0 auto;">
					<div class="text-info-panel" style="height: 40px">
						<span class="font-weight-bold"><i>Here's the essay from another student:</i></span>
					</div>
					<hr>
					<div class="essay-display-panel" style="height: 300px; white-space: pre-line; font-size: 18px;">

					</div>
					<hr>
					<div class="text-info-panel" style="height: 40px">
						<span class="font-weight-bold"><i>Please provide your feedback to this student below:</i></span>
					</div>
					<hr>
					<div class="editor-panel" style="height: 370px">
						<textarea id="editor" name="editor"></textarea>
						<!-- <script>
							CKEDITOR.replace('editor1');
							// CKEDITOR.inline('editor1');
						</script> -->
						<p>
                            <button id="submit_text" class="btn_fancy">Submit</button>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="system-col comparison-col">
			<div class="h-100 d-flex flex-column">
				<div>
					<h5>Comparison examples</h5>
					<!-- <div class="button-list mb-2"></div> -->
				</div>
				<div class="panel-container panel-container-col" style="flex: 1 0 auto;">
					<div class="text-info-panel" style="height: 40px">
						<span class="font-weight-bold"><i>Upward social comparison examples:</i></span>
					</div>
					<hr>
					<div class="essay-display-panel upward-panel" style="height: 300px; white-space: pre-line; font-size: 18px;">

					</div>
					<hr>
					<div class="text-info-panel" style="height: 40px">
						<span class="font-weight-bold"><i>Downward social comparison examples:</i></span>
					</div>
					<hr>
					<div class="essay-display-panel downward-panel" style="height: 300px; white-space: pre-line; font-size: 18px;">

					</div>
				</div>
			</div>

		</div>

		<div class="system-col chatbot-col">
			<div class="h-100 d-flex flex-column">
				<div>
					<h5>Mentorbot</h5>
					<!-- <div class="button-list mb-2"></div> -->
				</div>
				<div class="panel-container panel-container-col" style="flex: 1 0 auto;">
					<!-- <div class="w-100 viz-feature" style="height: 450px"><div class="chart w-100 h-100"></div></div> -->

					<!-- container element for chat window -->
					<div id="chat" style="height: 750px"></div>
				</div>
			</div>

		</div>

	</div>
</div>

<!-- 	<div id="vega_vis" style="height: 600px; width: 700px;"></div>
 -->
<!-- Consider moving this to template and append it programmtically.
However, this is a pretty general component so it's ok to just put it here -->
<div class="modal fade" id="general_modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<!-- Don't use .d-none; otherwise, $.show() would not work. .d-none us !important -->
				<button id="secondary_button" type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" style="display: none"></button>
				<button id="close_button" type="button" class="btn btn-sm btn-primary" data-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>




<!-- <p>
	<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#detailPanel" aria-expanded="false" aria-controls="collapseExample">
		Details
	</button>
</p>
<div class="collapse" id="detailPanel">
	<div class="card card-block" id="detail">
	</div>
</div> -->



<!-- <div id="variable_container"></div>-->
<!-- <div id="googlechart"></div> -->
<div id="main_alert_container">
	<div class="alert alert-dismissible" role="alert" style="display: none">
		<span class="alert-text"></span>
		<!-- do not use data-dismiss="alert"; it will removes the alert from DOM -->
		<button type="button" class="close" aria-label="Close" onclick="$(this).closest('.alert').fadeOut();">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

</div>



{% include "va_templates.html" %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var test = '{{ test | escapejs }}';

	var configs = {
		// variables from back-end
		"user": '{{ request.user.username }}',
		"condition": '{{ condition }}',
		"context": '{{ context }}',
        "session": "mentorbot",

		// "variable_order": {{ variable_order }},
		"variable_order": [...Array(100).keys()],
		// local setting
		"graph_editable": true,                 // default to true
		"data_visualization": false,            // enable/disable data visualization feature
		"data_regression": true,                // enable/disable regression feature
		"assisting": false,                     // enable/disable assisting features
		"hypothesis_input": false,              // enable/disable hypothesis input feature (popup hypothesis panel)
		"position_fixed": false,                // the eight variable placeholder on the graph
		"variable_shape": 'circle' || 'rect',   // shape of the variable
		"variable_hover_show_detail": true,     // enable/disable showing variable description on the top panel
		"variable_click_select": false,         // enable/disable variable selection by clicking
		"show_entered_hypotheses": true,        // show hypothesis on the middle right panel (allow editing)
		"add_new_variable": true,               // enable/disable adding new variable
		"visualize_stakeholder": false,         // enable/disable visualizing stakeholder
		"relationship_inspiration": false,      // enable/disable "relationship inspiration" button
		"hint_after_writing_hypothesis": false, // show a reminder to tell what users to do after writing a hypothesis
		"save_and_load_graph": true,            // "save graph" and "load graph" buttons
		"show_second_graph": false,             // show a separate graph into the interface
		// GraphUI setting
		"graph_ui_configs": {
			"variable_circle_r": 29,
		}
	};

	// if (configs.task === 'campaign') {
	// 	$('#next').attr('href', '/postsurvey');
	// }
	// else if (configs.task === 'practice') {
	// 	$('#next').attr('href', '/task');
	// }
</script>
<!-- Try out Vega -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vega@5.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script> -->

<script src="{% static 'js/lodash-4.17.20.min.js' %}"></script>


<script src="{% static 'js/FilterHelper.js' %}"></script> <!-- not sure what is this... -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="{% static 'js/util.js' %}"></script>
<!-- <script src="{% static 'js/datalib.js' %}"></script>
<script src="{% static 'js/modules/DataVariable.js' %}"></script>
<script src="{% static 'js/modules/CausalDiagram.js' %}"></script>
<script src="{% static 'js/modules/VisualSetting.js' %}"></script>
<script src="{% static 'js/modules/GraphUI.js' %}"></script>
<script src="{% static 'js/modules/CausalInspirationFeature.js' %}"></script>
<script src="{% static 'js/modules/RegressionFeature.js' %}"></script>
<script src="{% static 'js/modules/NarrativePanel.js' %}"></script>
<script src="{% static 'js/modules/VizFeature.js' %}"></script>
<script src="{% static 'js/modules/VICA.js' %}"></script>
<script src="{% static 'js/modules/CrowdHint.js' %}"></script>
<script src="{% static 'js/modules/CR.js' %}"></script>
<script src="{% static 'js/configuration.js' %}"></script>
<script src="{% static 'js/diagram_user.js' %}"></script> -->

<script src="{% static 'js/mentorbot.js' %}"></script>
<script src="{% static 'js/essay_data.js' %}"></script>


<!-- chatbot code here -->
<script src="{% static 'component/Bubbles.js' %}"></script>
<script src="{% static 'js/chatbot-interface.js' %}"></script>


<script type="text/javascript">
	$(async function() {
		saveLog("PAGELOAD");
		entry();
	})
</script>



{% block bottom_content %}
{% endblock %}

{% endblock %}
